<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers</title>
    <link rel="stylesheet" href="produtos.css">
</head>
<body>
    <header class="menu">
        <div class="logo">
         <h1>LOGO</h1>
        </div>
        <div class="list">
         <nav>
             <ul class="itens">
                 <li class="list-item"><a href=".././index.html">Home</a></li>
                 <li class="list-item"><a href="#">Sneakers</a></li>
                 <li class="list-item"><a href="sobre.html">Sobre</a></li>
             </ul>
         </nav>
        </div>
     </header>
     <!--menu-->
    <main class="animate">
        <div class="test">
            <h1>Produtos que podes encotrar nas nossas lojas</h1>
            <h2>MSCHF</h2>
        </div>
        <div class="conteiner">
            <div class="card">
                <div class="img">
                    <img src="../../public/img/images (12).jpg" alt="mschf">
                </div>
                <div class="text">
                    <h2>marca: mschf gobstoppers</h2>
                    <h3>preço: $314.47</h3>
                </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="../../public/img/images (13).jpg" alt="mschf">
                </div>
                <div class="text">
                        <h2>marca: mschf gobstoppers</h2>
                        <h3>preço: $314.47</h3>
                </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="../../public/img/transferir (11).jpg" alt="mschf">
                </div>
                <div class="text">
                    <h2>marca: mschf gobstoppers</h2>
                    <h3>preço: $314.47</h3>
            </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="../../public/img/transferir (12).jpg" alt="mschf">
                </div>
                <div class="text">
                    <h2>marca: mschf gobstoppers</h2>
                    <h3>preço: $314.47</h3>
            </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
        </div>
    </div>
    <!--outro-->
    <div class="conteiner">
        <div class="card">
            <div class="img">
                <img src="../../public/img/transferir (10).jpg" alt="mschf">
            </div>
            <div class="text">
                <h2>marca: mschf tyga</h2>
                <h3>preço: $444.47</h3>
            </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../public/img/mschf.jpg" alt="mschf">
            </div>
            <div class="text">
                    <h2>marca: mschf tyga </h2>
                    <h3>preço: $444.47</h3>
            </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../public/img/transferir (11).jpg" alt="mschf">
            </div>
            <div class="text">
                <h2>marca: mschf gobstoppers</h2>
                <h3>preço: $328.47</h3>
        </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../public/img/images (13).jpg" alt="mschf">
            </div>
            <div class="text">
                <h2>marca: mschf gobstoppers </h2>
                <h3>preço: $328.47</h3>
        </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
    </div>
</div>
    </main>


    <main class="animate">
        <div class="test">
            <h2>VANS</h2>
        </div>
        <div class="conteiner">
            <div class="card">
                <div class="img">
                    <img src="../../public/img/images (7).jpg" alt="mschf">
                </div>
                <div class="text">
                    <h2>marca: vans</h2>
                    <h3>preço: $114.47</h3>
                </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="../../public/img/images (8).jpg" alt="mschf">
                </div>
                <div class="text">
                        <h2>marca: vans</h2>
                        <h3>preço: $114.47</h3>
                </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="../../public/img/images (9).jpg" alt="mschf">
                </div>
                <div class="text">
                    <h2>marca: vans</h2>
                    <h3>preço: $114.47</h3>
            </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
            <div class="card">
                <div class="img">
                    <img src="../../public/img/images (10).jpg" alt="mschf">
                </div>
                <div class="text">
                    <h2>marca: vans</h2>
                    <h3>preço: $114.47</h3>
            </div>
                <div class="btn"><br>
                    <button>click</button>
                </div>
            </div>
        </div>
    </div>
    <!--outro-->
    <div class="conteiner">
        <div class="card">
            <div class="img">
                <img src="../../public/img/images (11).jpg" alt="mschf">
            </div>
            <div class="text">
                <h2>marca: vans</h2>
                <h3>preço: $114.47</h3>
            </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../public/img/images (8).jpg" alt="mschf">
            </div>
            <div class="text">
                    <h2>marca: vans</h2>
                    <h3>preço: $314.47</h3>
            </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../public/img/images (9).jpg" alt="mschf">
            </div>
            <div class="text">
                <h2>marca: vans</h2>
                <h3>preço: $314.47</h3>
        </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="../../public/img/images (7).jpg" alt="mschf">
            </div>
            <div class="text">
                <h2>marca: vans</h2>
                <h3>preço: $314.47</h3>
        </div>
            <div class="btn"><br>
                <button>click</button>
            </div>
        </div>
    </div>
</div>
    </main>
    <footer></footer>
<script src="../index.js"></script>
</body>
</html>