<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <header class="menu">
        <div class="logo">
         <h1>LOGO</h1>
        </div>
        <div class="list">
         <nav>
             <ul class="itens">
                 <li class="list-item"><a href=".././index.html">Home</a></li>
                 <li class="list-item"><a href="Produtos.html">Sneakers</a></li>
                 <li class="list-item"><a href="#">Sobre</a></li>
             </ul>
         </nav>
        </div>
     </header>
     <main class="animate">
        <div class="main">
            <h1 class="main-text">Fornecedores</h1>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita mollitia quia rerum voluptatibus ducimus ad quisquam soluta, dolores eligendi totam eius vero, repellat, consectetur voluptate facilis repudiandae recusandae esse.</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in, ad minima ipsum nihil sint id quas nisi rem et facere modi cumque corporis. Voluptate ab qui dolorum corrupti eligendi?</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla neque consequatur itaque facere architecto corporis odio labore tenetur corrupti et dolor minus libero, obcaecati delectus laudantium dolorum nam officia! <a href="#" class="link">saiba mais!</a></p>    
        </div>
    </main>
    <main class="animate">
        <div class="main">
            <h1 class="main-text">Patrocinadores</h1>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita mollitia quia rerum voluptatibus ducimus ad quisquam soluta, dolores eligendi totam eius vero, repellat, consectetur voluptate facilis repudiandae recusandae esse.</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in, ad minima ipsum nihil sint id quas nisi rem et facere modi cumque corporis. Voluptate ab qui dolorum corrupti eligendi?</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla neque consequatur itaque facere architecto corporis odio labore tenetur corrupti et dolor minus libero, obcaecati delectus laudantium dolorum nam officia! <a href="#" class="link">saiba mais!</a></p>    
        </div>
    </main>
    <main class="animate">
        <div class="main">
            <h1 class="main-text">Colaboradores</h1>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita mollitia quia rerum voluptatibus ducimus ad quisquam soluta, dolores eligendi totam eius vero, repellat, consectetur voluptate facilis repudiandae recusandae esse.</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in, ad minima ipsum nihil sint id quas nisi rem et facere modi cumque corporis. Voluptate ab qui dolorum corrupti eligendi?</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla neque consequatur itaque facere architecto corporis odio labore tenetur corrupti et dolor minus libero, obcaecati delectus laudantium dolorum nam officia! <a href="#" class="link">saiba mais!</a></p>    
        </div>
    </main>
    <main class="animate">
        <div class="main">
            <h1 class="main-text">Parceiros</h1>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita mollitia quia rerum voluptatibus ducimus ad quisquam soluta, dolores eligendi totam eius vero, repellat, consectetur voluptate facilis repudiandae recusandae esse.</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in, ad minima ipsum nihil sint id quas nisi rem et facere modi cumque corporis. Voluptate ab qui dolorum corrupti eligendi?</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla neque consequatur itaque facere architecto corporis odio labore tenetur corrupti et dolor minus libero, obcaecati delectus laudantium dolorum nam officia! <a href="#" class="link">saiba mais!</a></p>    
        </div>
    </main>
    <main class="animate">
        <div class="main">
            <h1 class="main-text">Lojas em Angola</h1>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae expedita mollitia quia rerum voluptatibus ducimus ad quisquam soluta, dolores eligendi totam eius vero, repellat, consectetur voluptate facilis repudiandae recusandae esse.</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate in, ad minima ipsum nihil sint id quas nisi rem et facere modi cumque corporis. Voluptate ab qui dolorum corrupti eligendi?</p>
            <p class="paragrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates nulla neque consequatur itaque facere architecto corporis odio labore tenetur corrupti et dolor minus libero, obcaecati delectus laudantium dolorum nam officia! <a href="#" class="link">saiba mais!</a></p>    
        </div>
    </main>
     <script src="../index.js"></script>
     <footer></footer>
</body>
</html>